<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MealRating.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E287A21A1CD85B100042B7C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E287A22E1CD85B100042B7C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E287A2391CD85B100042B7C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
